//Color from https://colordesigner.io/?presentationMode=true#483E60-8F1F11-CE3A14-32423F-1C2A2B

:root { 
    --eames: #8C2318;
    --knoll: #5E8C6A;
    --hansWegner: #88A65E;
    --cantaloupeSkin: #BFB35A;
    --vernerPanton: #F2C45A;
    --playerListLight: rgba(94, 141, 106, 0.1);
    --playerListDark: rgb(136, 166, 94, 0.4);
}