//Color from https://colordesigner.io/?presentationMode=true#483E60-8F1F11-CE3A14-32423F-1C2A2B

:root {
    --text: #C3D2CF;
    --primary: #8F1F11;
    --primaryLighter: #B92816;
    --accent: #CE3A14;
    --secondary: #483E60;
    --secondaryDarker: #352D46;
    --secondaryLighter: #7F70A3;
    --darkLighterPlus: #6B8D86;
    --darkLighter: #3D514D;
    --darkOdd: #2B3937;
    --dark: #32423F;
    --darker: #1C2A2B;
}